h1 {
 text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px; /* Adjust padding to make it larger */
    background-color: green; /* Set the background color to green */
    color: white; /* Set the text color to white */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    font-size: 18px; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth color transition on hover */
}

/* Change button color on hover */
button:hover {
    background-color: #3aa03a; /* Darker green color on hover */
}


#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
}